<h1>Here's the about page!</h1>
<p>
<p>About Devotea:</p>
<p>
<p>Devotea is a tea rating site that allows tea lovers from around the world to post ratings,
  photos and descriptions of their favourite teas. Users can keep track of their favourites,
  find out about similar teas they might enjoy, and online ordering information.</p>
